
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/.qmake.stash
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/juego.exe
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/main.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/objetos.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/personaje.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/proyectiles.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Debug
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Release
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_inicio.h
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_inicio.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_inicio.cpp
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/inicio.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/coleccionables.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_inicio.h
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Release
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Debug
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/objetos.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_inicio.cpp
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/main.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/coleccionables.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/.qmake.stash
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/proyectiles.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/personaje.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_inicio.o
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/Juego_Final.exe
build-Juego_Final-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/inicio.o
build juego_final/.qmake.stash
build juego_final/debug/coleccionables.o
build juego_final/debug/inicio.o
build juego_final/debug/Juego_Final.exe
build juego_final/debug/main.o
build juego_final/debug/mainwindow.o
build juego_final/debug/moc_inicio.cpp
build juego_final/debug/moc_inicio.o
build juego_final/debug/moc_mainwindow.cpp
build juego_final/debug/moc_mainwindow.o
build juego_final/debug/moc_predefs.h
build juego_final/debug/objetos.o
build juego_final/debug/personaje.o
build juego_final/debug/proyectiles.o
build juego_final/Makefile
build juego_final/Makefile.Debug
build juego_final/Makefile.Release
build juego_final/ui_inicio.h
build juego_final/ui_mainwindow.h
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/.qmake.stash
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/coleccionables.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/inicio.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/Juego_Final.exe
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/Juego_Final.ilk
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/Juego_Final.pdb
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/Juego_Final.vc.pdb
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/main.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/mainwindow.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/moc_inicio.cpp
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/moc_inicio.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/moc_mainwindow.cpp
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/moc_mainwindow.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/moc_predefs.h
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/objetos.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/personaje.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/debug/proyectiles.obj
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/Makefile
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/Makefile.Debug
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/Makefile.Release
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/ui_inicio.h
build-Juego_Final-Desktop_Qt_5_12_2_MSVC2015_64bit-Debug/ui_mainwindow.h
