
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/.qmake.stash
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/juego.exe
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/main.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/objetos.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/personaje.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/proyectiles.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Debug
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/Makefile.Release
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/ui_inicio.h
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_inicio.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/moc_inicio.cpp
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/inicio.o
build-juego-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/debug/coleccionables.o
